.footer {
  padding-top: 2rem;
  position: relative;

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 0;
  }

  &__background {
    background-image: url('../assets/images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% + 10rem);
    left: -2.5rem;
    position: absolute;
    right: 0;
    top: -10rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      background-image: url('../assets/images/svg/background_desktop.svg');
      bottom: 0;
      height: auto;
      top: 0;
    }
  }

  &__broccoli {
    background-image: url('../assets/images/svg/broccoli.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    left: -1rem;
    position: absolute;
    top: -19rem;
    transform: rotate(32deg);
    width: 5rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      height: 7.8rem;
      left: 50%;
      top: 3rem;
      width: 6.5rem;
    }
  }

  &__grape {
    background-image: url('../assets/images/svg/grape.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 7.2rem;
    position: absolute;
    right: 2rem;
    top: -19rem;
    transform: rotate(-10deg);
    width: 4.0625rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      height: 9.36rem;
      top: 4rem;
      width: 5.2813rem;
    }
  }

  &__raspberry {
    background-image: url('../assets/images/svg/raspberry.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.9875rem;
    left: 1rem;
    position: absolute;
    top: -1.5rem;
    width: 2.8125rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      height: 5.1838rem;
      top: 2rem;
      width: 3.6563rem;
    }
  }

  &__salad {
    background-image: url('../assets/images/svg/salad.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    position: absolute;
    right: 1rem;
    top: 9.5rem;
    transform: rotate(26deg);
    width: 5rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      height: 6.5rem;
      right: 3rem;
      top: 50%;
      width: 6.5rem;
    }
  }

  &__carrot {
    background-image: url('../assets/images/svg/carrot.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 8rem;
    height: 11.3125rem;
    left: 1.5rem;
    position: absolute;
    transform: rotate(-62deg);
    width: 3.1875rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      bottom: 5rem;
      height: 14.7063rem;
      left: 30%;
      width: 4.1438rem;
    }
  }

  &__plum {
    background-image: url('../assets/images/svg/plum.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 3rem;
    height: 3.125rem;
    left: 3rem;
    position: absolute;
    transform: rotate(26deg);
    width: 4.0625rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      bottom: 8rem;
      height: 4.0625rem;
      width: 5.2813rem;
    }
  }

  &__corn {
    background-image: url('../assets/images/svg/corn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 1rem;
    height: 8rem;
    position: absolute;
    right: -2rem;
    transform: rotate(-33deg);
    width: 4rem;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      bottom: 7rem;
      height: 10.5rem;
      right: 5rem;
      width: 5.2rem;
    }
  }

  &__mail {
    display: flex;
    justify-content: center;
    margin: 6rem 0;

    @media (min-width: $desktop-breakpoint) {
      justify-content: center;
      margin-bottom: 0;
    }

    &::before {
      background-image: url('../assets/images/svg/mail.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 1.5rem;
      margin-right: 0.3rem;
      width: 1.5rem;
    }

    a {
      color: $black;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    a {
      color: $black;
      text-decoration: none;
      vertical-align: sub;
    }

    .sites {
      display: flex;

      &__impressum {
        margin-right: 1rem;
      }
    }

    .socialmedia {
      display: flex;

      &__facebook {
        background-image: url('../assets/images/svg/facebook.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 1.5rem;
        margin-right: 1rem;
        width: 1.5rem;

        @media (min-width: $desktop-breakpoint) {
          height: 2rem;
          width: 2rem;
        }
      }
  
      &__instagram {
        background-image: url('../assets/images/svg/instagram.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 1.5rem;
        width: 1.5rem;

        @media (min-width: $desktop-breakpoint) {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
