.producers {
  padding-bottom: 3rem;
  position: relative;

  @media (min-width: $desktop-breakpoint) {
    display: flex;
  }

  &__background {
    background-image: url('../assets/images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    left: -2.5rem;
    position: absolute;
    right: 0;
    z-index: -1;

    @media (min-width: $desktop-breakpoint) {
      bottom: 0;
      height: auto;
      top: 0;
      width: 60%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $desktop-breakpoint) {
      width: 50%;
    }
  }

  &__about {
    color: $green-dark;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  .info {
    display: flex;
    flex-flow: wrap;

    > div {
      margin-bottom: 1rem;
      width: 50%;

      img,
      picture {
        width: 100%;
      }
    }
  }

  &__newsletter {
    &-title {
      margin-bottom: 3rem;

      @media (min-width: $desktop-breakpoint) {
        margin-top: 3rem;
      }
    }

    &-text {
      margin-bottom: 3rem;
    }

    &-input {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;

      @media (min-width: $desktop-breakpoint) {
        margin: 0 5rem;
      }

      input {
        background-color: $green-light;
        border-color: $black;
        border-radius: 3rem;
        height: 3rem;
        margin: 0 1.5rem 1rem;
        padding: 0 1.5rem;
        width: calc(100% - 6rem);
      }

      &::after {
        background-image: url('../assets/images/svg/typo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 1.5rem;
        margin-right: 0.3rem;
        position: absolute;
        right: 2.5rem;
        top: 0.9rem;
        width: 1.5rem;
      }

      button {
        background-color: $green-light;
        border: 2px solid $black;
        border-radius: 2rem;
        font-weight: bold;
        padding: 0.5rem;
        width: 8rem;
      }
    }

    &-subtitle {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &__slider-2 {
    @media (min-width: $desktop-breakpoint) {
      padding: 0 7rem;
    }
  }

  &__slider {
    padding-top: 4rem;

    @media (min-width: $desktop-breakpoint) {
      width: 50%;
    }

    .slide {
      &__content {
        padding-top: 2rem;

        &--first {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 3rem;
          min-height: 20rem;
          padding-top: 3rem;
          position: relative;
          
          .carrot {
            background-image: url('../assets/images/svg/carrot.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 11.3125rem;
            left: 1.5;
            position: absolute;
            top: -3rem;
            transform: rotate(32deg);
            width: 3.1875rem;
            z-index: -1;

            @media (min-width: $desktop-breakpoint) {
              height: 14.7063rem;
              width: 4.1438rem;
            }
          }
          
          .grape {
            background-image: url('../assets/images/svg/grape.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 7.2rem;
            position: absolute;
            right: 1rem;
            top: 0;
            transform: rotate(22deg);
            width: 4.0625rem;
            z-index: -1;

            @media (min-width: $desktop-breakpoint) {
              height: 9.36rem;
              width: 5.2813rem;
            }
          }
          
          .raspberry {
            background-image: url('../assets/images/svg/raspberry.svg');
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 0;
            height: 3.9875rem;
            left: 1rem;
            position: absolute;
            width: 2.8125rem;
            z-index: -1;

            @media (min-width: $desktop-breakpoint) {
              height: 5.1838rem;
              width: 3.6563rem;
            }
          }
          
          .quince {
            background-image: url('../assets/images/svg/quince.svg');
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 3rem;
            height: 3.5625rem;
            position: absolute;
            right: 0;
            transform: rotate(-32deg);
            width: 4.6875rem;
            z-index: -1;

            @media (min-width: $desktop-breakpoint) {
              height: 4.63125rem;
              width: 6.0938rem;
            }
          }
        }
      }

      &__header {
        margin-bottom: 2rem;
      }

      &__text {
        margin-bottom: 1rem;
      }
    }
  }
}
