.producers {
  padding-bottom: 4rem;

  &__background {
    background-image: url('../assets/images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__about {
    color: $green-dark;
    margin-top: 4rem;
  }

  .info {
    display: flex;
    flex-flow: wrap;

    > div {
      margin-bottom: 1rem;
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  &__slider {
    padding-top: 4rem;

    .slide {
      &__content {
        padding-top: 2rem;

        &--first {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 500px;
          position: relative;
          
          .carrot {
            background-image: url('../assets/images/svg/carrot.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 11.3125rem;
            left: 1.5;
            position: absolute;
            top: 0;
            transform: rotate(32deg);
            width: 3.1875rem;
            z-index: -1;
          }
          
          .plum {
            background-image: url('../assets/images/svg/plum.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 3.125rem;
            left: 50%;
            position: absolute;
            top: 4.5rem;
            width: 4.0625rem;
            z-index: -1;
          }
          
          .grape {
            background-image: url('../assets/images/svg/grape.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 7.2rem;
            position: absolute;
            right: 1rem;
            top: 0;
            transform: rotate(22deg);
            width: 4.0625rem;
            z-index: -1;
          }
          
          .raspberry {
            background-image: url('../assets/images/svg/raspberry.svg');
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 4rem;
            height: 3.9875rem;
            left: 1rem;
            position: absolute;
            width: 2.8125rem;
            z-index: -1;
          }
          
          .quince {
            background-image: url('../assets/images/svg/quince.svg');
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 3rem;
            height: 3.5625rem;
            position: absolute;
            right: 0;
            transform: rotate(-32deg);
            width: 4.6875rem;
            z-index: -1;
          }
        }
      }

      &__header {
        margin-bottom: 2rem;
      }

      &__text {
        margin-bottom: 1rem;
      }
    }
  }
}
