.sidebar {
  position: fixed;
  width: 100%;
  z-index: 1;

  &__overlay {
    background-color: #ffffff8f;
    display: block;
    height: 100vh;
    width: 100vw;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  button {
    border: 0;
    font-size: 3rem;
    height: 2rem;
    margin-right: 2rem;
    margin-top: 1.25rem;
    padding: 0;
    position: absolute;
    right: -1rem;
    top: 0;
    width: 2rem;
  }

  &__toggle {
    background-color: transparent;
    background-image: url('../assets/images/svg/menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__content {
    background-color: $green;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;

    a {
      color: $black;
      padding: 0 1rem 2rem;
      text-decoration: none;
    }

    .close {
      background-color: transparent;
      background-image: url('../assets/images/svg/close.svg');
      background-repeat: no-repeat;
      background-size: contain;
      outline: none;
    }
  }
}
