.steps {
  padding-bottom: 4rem;

  &__background {
    background-image: url('../assets/images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__about {
    color: $green-dark;
    margin-top: 4rem;
  }

  &__statute {
    margin-top: 2rem;

    a {
      color: $black;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__slider {
    padding-top: 4rem;

    .slide {
      position: relative;

      &__content {
        padding-top: 2rem;
      }

      &__header {
        margin-bottom: 2rem;
      }

      &__text {
        margin-bottom: 1rem;
      }
    }

    .background {
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;

      &-1 {
        background-image: url('../assets/images/svg/pitchfork.svg');
        height: 5.2rem;
        width: 9.5rem;
      }

      &-2 {
        background-image: url('../assets/images/svg/hand.svg');
        height: 6.2rem;
        width: 8.43rem;
      }

      &-3 {
        background-image: url('../assets/images/svg/fork.svg');
        height: 4.6rem;
        width: 7.8rem;
      }
    }
  }
}
