.steps {
  padding-bottom: 4rem;

  &__background {
    background-image: url('../assets/images/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__about {
    color: $green-dark;
    margin-top: 4rem;
  }

  &__statute {
    margin-top: 2rem;

    a {
      color: $black;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__slider {
    padding-top: 4rem;

    .slide {
      position: relative;
      
      &__content {
        padding-top: 2rem;
      }

      &__header {
        margin-bottom: 2rem;
      }

      &__text {
        margin-bottom: 1rem;
      }
    }

    .background {
      background-repeat: no-repeat;
      height: 9rem;
      position: absolute;
      width: 9rem;
      z-index: -1;

      &-1 {
        background-image: url('../assets/images/svg/pitchfork.svg');
      }

      &-2 {
        background-image: url('../assets/images/svg/hand.svg');
      }

      &-3 {
        background-image: url('../assets/images/svg/fork.svg');
      }

      &-a {
        left: -2rem;
        transform: rotate(-45deg);
      }

      &-b {
        right: -2rem;
        transform: rotate(-25deg);
      }

      &-c {
        left: -2rem;
        top: 30%;
        transform: rotate(45deg);
      }

      &-d {
        right: -4rem;
        top: 50%;
        transform: rotate(114deg);
      }

      &-e {
        bottom: 0;
        transform: rotate(-60deg);
      }

      &-f {
        bottom: 0;
        left: 2rem;
        transform: rotate(-30deg);
      }

      &-g {
        bottom: 5rem;
        right: 0;
        transform: rotate(80deg);
      }
    }
  }
}
