* {
  font-family: 'authentic-sans';
}

html {
  background-color: $green-light;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 1.3125rem;
  margin: 0;
}

h6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.padding-v-s {
  padding: 0 1.5rem;
}

.padding-v-m {
  padding: 0 3rem;
}
    
/* stylelint-disable */
.slick-slider {
  .slick-dots {
    bottom: -35px;
  
    li {
      height: 30px;
      width: 30px;
  
      button:before {
        font-size: 30px;
      }
  
      &.slick-active {
        button:before {
          opacity: 1;
        }
      }
    }
  }
}
