* {
  font-family: 'authentic-sans';
}

html {
  background-color: $green-light;
}

p {
  font-size: 1.3125rem;
  margin: 0;
}

h6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}
