* {
  font-family: 'authentic-sans', Arial, Helvetica, sans-serif;
}

$desktop-breakpoint: 992px;

html {
  overflow-x: hidden;
}

body {
  background-color: $green-light;
  overflow: hidden;
}

p {
  font-size: 1rem;
  margin: 0;
}

h6 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.padding-v-s {
  padding: 0 1.5rem;
}

.padding-v-m {
  padding: 0 3rem;
}

.padding-v-l {
  padding: 0 4.5rem;
}

/* stylelint-disable */
.slick-slider {
  .slick-dots {
    bottom: -25px;
  
    li {
      height: 20px;
      width: 20px;
  
      button:before {
        font-size: 20px;
      }
  
      &.slick-active {
        button:before {
          opacity: 1;
        }
      }
    }
  }
}
