<div class="footer">
  <div class="footer__background"></div>
  <h3 class="footer__newsletter-title bold text-center">
    Newsletter
  </h3>
  <p>
    mehr von uns? Tragt euch hier für unseren 2-monatigen Newsletter ein.
  </p>
  <input />
  <h3 class="bold">
    Ihr wollt mir uns wachsen? Habt Fragen oder Anregungen? Get in touch!
  </h3>
  <p class="footer__mail bold">
    <a href="mailto:friends@speisekammer-konstanz.de">friends@speisekammer-konstanz.de</a>
  </p>
  <div class="footer__links">
    <p>
      <a>Blabla</a>
    </p>
    <p>
      <a>Impressum</a>
    </p>
    <a class="facebook"></a>
    <a class="instagram"></a>
  </div>
</div>