<div class="footer">
  <div class="footer__background"></div>
  <div class="footer__broccoli" ></div>
  <div class="footer__grape" ></div>
  <div class="footer__raspberry" ></div>
  <div class="footer__salad" ></div>
  <div class="footer__carrot" ></div>
  <div class="footer__plum" ></div>
  <div class="footer__corn" ></div>

  <div>
    <a name="kontakt"></a>
  </div>

  <div>
    <h3 class="footer__newsletter-subtitle bold padding-v-s text-center">
      Ihr wollt mit uns wachsen?
      <br />
      Habt Fragen oder Anregungen?
      <br />
      Get in touch!
    </h3>
    <p class="footer__mail bold">
      <a href="mailto:friends@speisekammer-konstanz.de">friends@speisekammer-konstanz.de</a>
    </p>
  </div>
  <div class="footer__links padding-v-s">
    <div class="sites">
      <p>
        <a href="/impressum">Impressum</a>
      </p>
      <p>
        <a href="/unsubscribe">Newsletter abmelden</a>
      </p>
      <p>
        <a href="/Mitgliederantragsformular.pdf" target="_blank">Mitgliederantragsformular</a>
      </p>
      <p>
        <a href="/Kautionsvertrag.pdf" target="_blank">Kautionsvertrag</a>
      </p>
    </div>
    <div class="socialmedia">
      <a name="facebook" class="socialmedia__facebook" href="https://www.facebook.com/speisekammer.konstanz/"></a>
      <a name="instagram" class="socialmedia__instagram" href="https://www.instagram.com/speisekammerkonstanz/"></a>
    </div>
  </div>
</div>