<div class="footer">
  <div class="footer__background"></div>
  <div class="footer__broccoli" ></div>
  <div class="footer__grape" ></div>
  <div class="footer__raspberry" ></div>
  <div class="footer__salad" ></div>
  <div class="footer__carrot" ></div>
  <div class="footer__plum" ></div>
  <div class="footer__corn" ></div>

  <div></div>

  <div>
    <h3 class="footer__newsletter-subtitle bold padding-v-s text-center">
      Ihr wollt mir uns wachsen?
      <br />
      Habt Fragen oder Anregungen?
      <br />
      Get in touch!
    </h3>
    <p class="footer__mail bold">
      <a href="mailto:friends@speisekammer-konstanz.de">friends@speisekammer-konstanz.de</a>
    </p>
  </div>
  <div class="footer__links padding-v-s">
    <p>
      <a href="/impressum">Impressum</a>
    </p>
    <div class="socialmedia">
      <a class="socialmedia__facebook" href="https://www.facebook.com/speisekammer.konstanz/"></a>
      <a class="socialmedia__instagram" href="https://www.instagram.com/speisekammerkonstanz/"></a>
    </div>
  </div>
</div>