<div class="landing">
  <div class="landing__background" ></div>
  <h3
    class="bold text-center"
  >
    Uns blüht was
  </h3>
  <p
    class="text-center"
  >
    Die FoodCoop “Speisekammer” Konstanz e.V
  </p>
  <p
    class="text-center"
  >
    Unsere Foodcoop ist ein Verein der als Einkaufsgemeinschaft
    einen gemeinsamen regionalen und ökologischen Bezug von
    Lebensmitteln fördert. Warum wir das wollen?
  </p>
  <h6
    class="bold text-center"
  >
    “Meine Kinder sollen nicht denken, dass Kühle lila sind.
    Für mich selbst wünsche ich mir, mehr Bewusstsein für
    meine Lebensmittel und deren Erzeuger*innen zu entwickeln.”
  </h6>
</div>