<div class="landing">
  <div class="landing__background" ></div>
  <div class="landing__logo spring" ></div>
  <div class="landing__plum" ></div>
  <div class="landing__grape" ></div>
  <div class="landing__raspberry" ></div>
  <div class="landing__quince" ></div>
  <div class="landing__carrot" ></div>
  <div class="landing__leek" ></div>

  <a name="Über-uns"></a>

  <div class="landing__front">
    <h3
      class="bold text-center landing__header"
    >
      Uns blüht was.
    </h3>
    <h6
      class="text-center padding-v-s landing__subheader"
    >
      Die FoodCoop
      <br />
      “Speisekammer” Konstanz e.V.
    </h6>
    <p
      class="text-center padding-v-s landing__subheadertext"
    >
      Unsere FoodCoop ist ein Verein, der als Einkaufsgemeinschaft
      einen gemeinsamen regionalen und ökologischen Bezug von
      Lebensmitteln fördert. Warum wir das wollen?
    </p>
  </div>

  <div class="landing__slider">
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s"
        >
          “Meine Kinder sollen nicht denken, dass Kühe lila sind.
          Für mich selbst wünsche ich mir, mehr Bewusstsein für
          meine Lebensmittel und deren Erzeuger*innen zu entwickeln.”
        </h6>
      </div>
    </div>
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s"
        >
          “Der Klimawandel stellt uns alle vor eine riesen Herausforderung.
          Dagegen möchte ich aktiv vorgehen und lange Lieferketten
          sowie überflüssigen CO2-Ausstoß vermeiden.”
        </h6>
      </div>
    </div>
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s"
        >
          “Das saisonale Obst schmeckt einfach besser
          als die halbreifen Erdbeeren im Dezember.”
        </h6>
      </div>
    </div>
  </div>
</div>