<div class="landing">
  <div class="landing__background" ></div>
  <div class="landing__logo spring" ></div>
  <div class="landing__plum" ></div>
  <div class="landing__grape" ></div>
  <div class="landing__raspberry" ></div>
  <div class="landing__quince" ></div>
  <div class="landing__carrot" ></div>
  <div class="landing__leek" ></div>

  <a name="Über-uns" class="hyperlink"></a>

  <div class="landing__front">
    <h3
      class="bold text-center landing__header"
    >
      Uns blüht was.
    </h3>
    <h6
      class="text-center padding-v-s landing__subheader"
    >
      Die FoodCoop
      <br />
      “Speisekammer” Konstanz e.V.
    </h6>
    <p
      class="text-center padding-v-s padding-v-s-desktop landing__subheadertext"
    >
      Unsere Foodcoop ist ein Verein, der sich als Einkaufsgemeinschaft
      die Förderung eines Lebensmittelsystems zum Wohle des Lebens
      von Menschen, Tieren und Pflanzen zum Zweck gemacht hat.
    </p>
  </div>

  <div class="landing__slider">
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s padding-v-s-desktop"
        >
          “Ich wünsche ich mir, mehr Bewusstsein für die Lebensmittel,
          die ich tagtäglich konsumiere zu entwickeln. Dazu gehört
          auch eine gewisse Nähe zu deren Erzeuger*innen.”
        </h6>
      </div>
    </div>
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s padding-v-s-desktop"
        >
          “Der Klimawandel stellt uns alle vor eine riesen Herausforderung.
          Dagegen möchte ich aktiv vorgehen und lange Lieferketten sowie
          überflüssigen CO2-Ausstoss vermeiden.”
        </h6>
      </div>
    </div>
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s padding-v-s-desktop"
        >
          “Die Speisekammer versteht sich als Verein, der in der Öffentlichkeit
          für ein nachhaltiges, faires Lebensmittelsystem einsteht. Im Fokus
          steht dabei auch immer die Freude am guten Essen in Gemeinschaft.”
        </h6>
      </div>
    </div>
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s padding-v-s-desktop"
        >
          “Unsere FoodCoop soll ein zentraler Ort der Begegnung für alle Menschen
          sein, die sich für ein nachhaltiges, transparentes und faires
          Lebensmittelsystem interessieren und engagieren.”
        </h6>
      </div>
    </div>
    <div class="landing__slider__content">
      <div>
        <h6
          class="bold text-center padding-v-s padding-v-s-desktop"
        >
          “Ziel ist es Klein- und Kleinstproduzent*innen im Rahmen des
          Vereinsbetriebs Absatzmöglichkeiten zu eröffnen und eine soziale
          Kooperation zwischen Produzent*innen und Verbraucher*innen anzubieten.”
        </h6>
      </div>
    </div>
  </div>
</div>