<div class="landing">
  <div class="landing__background" ></div>
  <div class="landing__logo spring" ></div>
  <div class="landing__plum" ></div>
  <div class="landing__grape" ></div>
  <div class="landing__raspberry" ></div>
  <div class="landing__quince" ></div>
  <div class="landing__carrot" ></div>
  <div class="landing__leek" ></div>
  <h3
    class="bold text-center landing__header"
  >
    Uns blüht was.
  </h3>
  <p
    class="text-center landing__subheader"
  >
    Die FoodCoop
    <br />
    “Speisekammer” Konstanz e.V.
  </p>
  <p
    class="text-center landing__subheadertext"
  >
    Unsere Foodcoop ist ein Verein der als Einkaufsgemeinschaft
    einen gemeinsamen regionalen und ökologischen Bezug von
    Lebensmitteln fördert. Warum wir das wollen?
  </p>
  <h6
    class="bold text-center"
  >
    “Meine Kinder sollen nicht denken, dass Kühe lila sind.
    Für mich selbst wünsche ich mir, mehr Bewusstsein für
    meine Lebensmittel und deren Erzeuger*innen zu entwickeln.”
  </h6>
</div>