<div class="participate">
  <div class="participate__background" ></div>

  <a name="Mitmachen"></a>

  <div class="participate__slider">
    <div class="slide">
      <div class="slide__content slide__content--first padding-v-m">
        <div class="leek" ></div>
        <div class="carrot" ></div>
        <div class="plum" ></div>
        <div class="grape" ></div>
        <div class="raspberry" ></div>
        <div class="quince" ></div>
        <h3
          class="bold text-center slide__header"
        >
          Komm mit uns
          <br />
          auf den grünen Zweig!
        </h3>
        <p class="slide__text text-center">
          Du willst mitmachen?
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="plum2" ></div>
        <div class="raspberry2" ></div>
        <div class="leek2" ></div>
        <h3
          class="bold text-center slide__header"
        >
          Das kommt uns
          <br />
          nicht in die (Papier-)tüte!
        </h3>
        <p class="slide__text text-center padding-v-s-desktop">
         Bei uns ist jede*r herzlich Willkommen. Ob die Organisation der Bestellung,
         die Kommunikation mit Lieferant*innen, die Aktualisierung des
         Produktsortiments oder andere Tätigkeiten — jede*r kann und sollte
         sich aktiv einbringen. Jedoch sprechen wir uns gegen Gewalt oder
         menschenverachtende Ideologien wie Rassismus, Faschismus, Sexismus,
         Homophobie und jede Form von Diskriminierung aus.
         <br />
         <b>Wer diskriminiert kann sich vom Acker machen!</b>
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="corn3" ></div>
        <div class="salad3" ></div>
        <div class="broccoli3" ></div>
        <h3
          class="bold text-center slide__header"
        >
          Wie Kraut und Rüben...
        </h3>
        <p class="slide__text text-center padding-v-s-desktop">
          ...sollte unsere Organisation nicht ablaufen. Daher treffen uns alle 6
          Wochen im Plenum um uns auszutauschen. Der Mitgliedsbeitrag beträgt
          5€ pro Person und Monat. Zudem wird eine Kaution von 50 € bei
          Vereinseintritt erbeten. Diese dient der Liquidität des Vereins. Menschen
          in finanziellen Notlagen ist es teilweise gestattet sich von dieser
          Finanzierungen befreien zu lassen. Wenn du bei uns mitmachen willst,
          schreib uns am Besten eine Mail undwir laden Dich zu einem Treffen
          ein, damit wir uns gegenseitig kennenlernen können! Wir freuen uns.
        </p>
      </div>
    </div>
  </div>
</div>
