<div class="participate">
  <div class="participate__background" ></div>

  <a name="Mitmachen"></a>

  <div class="participate__slider">
    <div class="slide">
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Komm’ mit uns auf den grünen Zweig!
        </h3>
        <p class="slide__text">
          Du willst mitmachen?
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Das kommt uns nicht in die (Papier-)tüte!
        </h3>
        <p class="slide__text">
          Bei uns ist jede*r herzlich Willkommen. Ob die Organisation der Bestellung,
          Kommunikation mit Lieferant*innen, Aktualisierung des Produktsortiments
          oder andere Tätigkeiten, jede*r kann und darf sich einbringen. Jedoch sprechen
          wir uns gegen Rassismus, Sexismus und jede Form von Diskriminierung aus.
          Wer diskriminiert kann sich vom Acker machen!
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Wie Kraut und Rüben...
        </h3>
        <p class="slide__text">
          sollte unsere Organisation nicht ablaufen. Wir treffen uns regelmäßig
          um uns auszutauschen. Wenn du mit dem Gedanken spielst Mitglied zu
          werden schreib am besten eine Mail und wir laden dich zu einem unserer
          Treffen ein, um uns kennen zu lernen. Der Mitgliedsbeitrag beträgt aktuell
          5, 8 oder 10 € für einen Haushalt mit 1, 2 oder mehr Personen, je nach
          Haushaltsgröße und Möglichkeit. Lorem Ipsum Blablablablablabla
        </p>
      </div>
    </div>
  </div>
  <h6 class="participate__about padding-v-s">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
  </h6>
</div>
