<div class="popup" id="popup">
  <button class="popup__close" onclick="hidePopup()">
    X
  </button>

  <h6 class="popup__title">Update!</h6>
  <p> Leider haben wir nach wie vor noch keinen Raum für unser Lager gefunden.</p>
  <p>Wir hören, schauen und suchen weiter - helft uns dabei und schreibt uns gerne jegliche Ideen per Mail an <a href="mailto:friends@speisekammer-konstanz.de">friends@speisekammer-konstanz.de</a></p>
  <p>Sobald wir einen Raum gefunden haben geht es dann richtig los :)</p>
</div>