<div class="producers">
  <div class="producers__background" ></div>
  <div class="producers__slider">
    <div class="slide">
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Für Vielfalt. Für Vielfeld. Unsere Kooperations<wbr/>partner<wbr/>*innen
        </h3>
        <p class="slide__text">
          Wer steht hinter den Produkten?
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="info">
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <img src="succ.png">
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h6 class="producers__about padding-v-s">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
  </h6>
</div>
