<div class="producers">
  <div class="producers__background" ></div>

  <a name="Die-Erzeuger*innen"></a>

  <div class="producers__slider">
    <div class="slide">
      <div class="slide__content padding-v-m slide__content--first">
        <div class="leek" ></div>
        <div class="plum" ></div>
        <div class="carrot" ></div>
        <div class="grape" ></div>
        <div class="raspberry" ></div>
        <div class="quince" ></div>
        <h3
          class="bold text-center slide__header"
        >
          Für Vielfalt. Für Vielfeld. Unsere Kooperations<wbr/>partner<wbr/>*innen
        </h3>
        <p class="slide__text text-center">
          Wer steht hinter den Produkten?
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="info">
          <div>
            <p class="bold">
              to be continued... 
            </p>
            <p>
              unsere Produktpalette befindet sich gerade noch im Aufbau.
              Wir sind zudem immer auf der Suche nach Kooperations&shy;partner*innen.
              Falls Du also selbst Erzeuger*in bist, oder jemanden kennst, schreib uns gerne eine Mail.
            </p>
          </div>
          <div>
            <img src="radieschen.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="producers__content">
    <div class="producers__slider-2 producers__about ">
      <div class="producers__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Die Speisekammer Konstanz soll ein Begegnungsort für viele
            verschiedene Menschen und somit auch ein Ort für Diversität sein.
            Nicht nur die Lebensmittel sind bunt und vielfältig, sondern
            auch die Menschen die dort zusammenkommen.”
          </h6>
        </div>
      </div>
      <div class="producers__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Das monatliche Plenum ist nicht nur Raum für die Absprache von
            Entscheidungen, sondern auch ein sozialer Treffpunkt, bei welchem
            auch mal gerne ein paar von uns mit Hopfen- oder Rettichsaft
            länger sitzen bleiben.”
          </h6>
        </div>
      </div>
      <div class="producers__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Ein Ort, der ein buntes Publikum vereint, die besonders eins
            gemeinsam haben: die Wertschätzung von Nahrungsmitteln und deren
            Produzenten*innen.” 
          </h6>
        </div>
      </div>
    </div>
    <a name="Kontakt"></a>

    <h3 class="producers__newsletter-title bold text-center">
      Newsletter
    </h3>
    <p class="producers__newsletter-text padding-v-s text-center">
      mehr von uns? Tragt euch hier für unseren 2-monatigen Newsletter ein.
    </p>
    <div class="producers__newsletter-input">
      <input name="newsletter-email" id="newsletter_email" type="email"/>
      <button id="newsletter_signup">
        Anmelden
      </button>
    </div>
  </div>
</div>
