<div class="producers">
  <div class="producers__background" ></div>

  <a name="Die-Erzeuger*innen"></a>

  <div class="producers__slider">
    <div class="slide">
      <div class="slide__content padding-v-m slide__content--first">
        <div class="leek" ></div>
        <div class="plum" ></div>
        <div class="carrot" ></div>
        <div class="grape" ></div>
        <div class="raspberry" ></div>
        <div class="quince" ></div>
        <h3
          class="bold text-center slide__header"
        >
          Für Vielfalt. Für Vielfeld. Unsere Kooperations<wbr/>partner<wbr/>*innen
        </h3>
        <p class="slide__text text-center">
          Wer steht hinter den Produkten?
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="info">
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <img src="kraut.jpeg">
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
          <div>
            <p class="bold">Name</p>
            <p>Standort</p>
            <p>Produkte</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="producers__content">
    <h6 class="bold producers__about padding-v-s text-center">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    </h6>
    <a name="Kontakt"></a>

    <h3 class="producers__newsletter-title bold text-center">
      Newsletter
    </h3>
    <p class="producers__newsletter-text padding-v-s text-center">
      mehr von uns? Tragt euch hier für unseren 2-monatigen Newsletter ein.
    </p>
    <div class="producers__newsletter-input">
      <input id="producers_email" type="email"/>
      <button id="producers_signup">
        Anmelden
      </button>
    </div>
  </div>
</div>
