<div class="producers">
  <div class="producers__background" ></div>

  <a name="Die-Erzeuger*innen"></a>

  <div class="producers__slider">
    <div class="slide">
      <div class="slide__content padding-v-m slide__content--first">
        <div class="leek" ></div>
        <div class="plum" ></div>
        <div class="carrot" ></div>
        <div class="grape" ></div>
        <div class="raspberry" ></div>
        <div class="quince" ></div>
        <h3
          class="bold text-center slide__header"
        >
          Für Vielfalt. Für Vielfeld. Unsere Kooperations<wbr/>partner<wbr/>*innen
        </h3>
        <p class="slide__text text-center">
          Wer steht hinter den Produkten?
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="info">
          <div>
            <p class="bold">Haettelihof Demeterhof</p>
            <p class="margin-b-s">Konstanz</p>
            <p>Wurst, Apfelsaft, Eier</p>
          </div>
          <div>
            <picture>
              <source media="(min-width:1200px)" srcset="haettelihof.jpg">
              <img src="haettelihof_450.jpg" alt="Haettelihof, Demeterhof am Rande der Stadt">
            </picture>
          </div>
          <div>
            <p class="bold">Naturland Bio-Hof Gasser</p>
            <p class="margin-b-s">Reichenau</p>
            <p>Gemüse, Orangen, Avocados</p>
          </div>
          <div>
            <p class="bold">Freiheithof</p>
            <p class="margin-b-s">Sauldorf</p>
            <p>Lammfleisch</p>
          </div>
          <div>
            <p class="bold">Herba Solaris</p>
            <p class="margin-b-s">Stockach</p>
            <p>Tee</p>
          </div>
          <div>
            <picture>
              <source media="(min-width:1200px)" srcset="herbasolaris.jpg">
              <img src="herbasolaris_450.jpg" alt="herba Solaris, Bio-Kräutertees aus besonderen Teekompositionen" >
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="info">
          <div>
            <p class="bold">Orliva</p>
            <p class="margin-b-s">Aiguamúrcia, Katalonien, Spanien</p>
            <p>Olivenöl, Oliven, Wein, Carob-Produkte, Brotaufstriche, (Ziegen-)-Käse</p>
          </div>
          <div>
            <picture>
              <source media="(min-width:1200px)" srcset="orlivia.jpg">
              <img src="orlivia_450.jpg" alt="Orlivia, spanische Spezialitäten">
            </picture>
          </div>
          <div>
            <p class="bold">Landwirt Bold</p>
            <p class="margin-b-s">Allmannsdorf Konstanz</p>
            <p>Gemüse, Obst, Apfelsaft</p>
          </div>
          <div>
            <p class="bold">Lorenzhof</p>
            <p class="margin-b-s">Illmensee</p>
            <p>ab Sommer Linsen, Leinsamen und Rapsöl</p>
          </div>
          <div>
            <p class="bold">Kornschnalle</p>
            <p class="margin-b-s">Sauldorf</p>
            <p>Gemüsewürze, Kräutersalz</p>
          </div>
          <div>
            <picture>
              <source media="(min-width:1200px)" srcset="kornschnalle.jpg">
              <img src="kornschnalle_450.jpg" alt="Kornschnalle gesunde, naturbelassene Kräuter und Lebensmittel">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content padding-v-m">
        <div class="info">
          <div>
            <p class="bold">Kaffee-Kooperative</p>
            <p class="margin-b-s">Ruanda</p>
            <p>Kaffee</p>
          </div>
          <div>
            <picture>
              <source media="(min-width:1200px)" srcset="kaffee-kooperative.jpg">
              <img src="kaffee-kooperative_450.jpg" alt="Spezialitätenkaffees aus den Händen der Produzent*innen - für mehr Wertschöpfung vor Ort. Faire Preise, faire Teilhabe, Fairtrade, klimaneutral.">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="producers__content">
    <div class="producers__slider-2 producers__about ">
      <div class="producers__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Die Speisekammer Konstanz soll ein Begegnungsort für viele
            verschiedene Menschen und somit auch ein Ort für Diversität sein.
            Nicht nur die Lebensmittel sind bunt und vielfältig, sondern
            auch die Menschen die dort zusammenkommen.”
          </h6>
        </div>
      </div>
      <div class="producers__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Das monatliche Plenum ist nicht nur Raum für die Absprache von
            Entscheidungen, sondern auch ein sozialer Treffpunkt, bei welchem
            auch mal gerne ein paar von uns mit Hopfen- oder Rettichsaft
            länger sitzen bleiben.”
          </h6>
        </div>
      </div>
      <div class="producers__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Ein Ort, der ein buntes Publikum vereint, die besonders eins
            gemeinsam haben: die Wertschätzung von Nahrungsmitteln und deren
            Produzenten*innen.” 
          </h6>
        </div>
      </div>
    </div>
    <a name="Kontakt"></a>

    <h3 class="producers__newsletter-title bold text-center">
      Newsletter
    </h3>
    <p class="producers__newsletter-text padding-v-s text-center">
      mehr von uns? Tragt euch hier für unseren 2-monatigen Newsletter ein.
    </p>
    <div class="producers__newsletter-input">
      <input name="newsletter-email" id="newsletter_email" type="email"/>
      <button id="newsletter_signup">
        Anmelden
      </button>
    </div>
  </div>
</div>
