<div class="sidebar">
  <button id="sidebar-toggle" data-ctrly="sidebar" class="sidebar__toggle"></button>
  <section id="sidebar" class="sidebar__overlay" aria-hidden="true">
    <div class="sidebar__content">
      <button class="close" id="sidebar-close-button"></button>
      <a class="bold" href="/#Über-uns">Über uns</a>
      <a class="bold" href="/#Mitmachen">Mitmachen</a>
      <a class="bold" href="/#Die-Erzeuger*innen">Die Lieferant*innen</a>
      <a class="bold" href="/#Kontakt">Kontakt</a>
      <a class="bold" href="https://foodcoop.speisekammer-konstanz.de" target="_blank">Bestellsystem</a>
    </div>
  </section>
  <section class="sidebar__desktop">
    <a class="bold" href="https://foodcoop.speisekammer-konstanz.de" target="_blank">Bestellsystem</a>
    <a class="bold" href="/#Kontakt">Kontakt</a>
    <a class="bold" href="/#Die-Erzeuger*innen">Die Lieferant*innen</a>
    <a class="bold" href="/#Mitmachen">Mitmachen</a>
    <a class="bold" href="/#Über-uns">Über uns</a>
  </section>
</div>
