<div class="sidebar">
  <button id="sidebar-toggle" data-ctrly="sidebar" class="sidebar__toggle">☰</button>
  <section id="sidebar" class="sidebar__overlay" >
    <div class="sidebar__content">
      <button class="close" id="sidebar-close-button">X</button>
      <a href="/#Über-uns">Über uns</a>
      <a href="/#Mitmachen">Mitmachen</a>
      <a href="/#Die-Erzeuger*innen">Die Lieferant*innen</a>
      <a href="/#Kontakt">Kontakt</a>
      <a href="https://foodsoft.speisekammer-konstanz.de" target="_blank">Bestellsystem</a>
    </div>
  </section>
</div>
