<div
  class="steps"
>
  <div class="steps__background" ></div>
  <div class="steps__slider">
    <div class="slide">
      <div class="background background-1 background-a"></div>
      <div class="background background-1 background-b"></div>
      <div class="background background-1 background-c"></div>
      <div class="background background-1 background-d"></div>
      <div class="background background-1 background-e"></div>
      <div class="background background-1 background-f"></div>
      <div class="background background-1 background-g"></div>
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Vom Feld auf den Teller in 3...
        </h3>
        <p class="slide__text">
          Die hauptsächlich regionalen Produzent*innen erzeugen ihre Produkte in biologischem Anbau.
          Vom Korn zum Blablbla Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="background background-2 background-a"></div>
      <div class="background background-2 background-b"></div>
      <div class="background background-2 background-c"></div>
      <div class="background background-2 background-d"></div>
      <div class="background background-2 background-e"></div>
      <div class="background background-2 background-f"></div>
      <div class="background background-2 background-g"></div>
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Vom Feld auf den Teller in 2...
        </h3>
        <p class="slide__text">
          Nach der Ernte wird das Gemüse geerntet und liebevoll für den Verkauf weiterverarbeitet
          bzw vorbereitet. Die FoodCoop leitet ihre wöchentliche Bestellung an die
          Produzent*innen weiter, die die Bestellung fertig zur Auslieferung machen
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="background background-3 background-a"></div>
      <div class="background background-3 background-b"></div>
      <div class="background background-3 background-c"></div>
      <div class="background background-3 background-d"></div>
      <div class="background background-3 background-e"></div>
      <div class="background background-3 background-f"></div>
      <div class="background background-3 background-g"></div>
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Vom Feld auf den Teller in 1...
        </h3>
        <p class="slide__text">
          Nachdem du deine Bestellung in unserem Lager abgeholt hast kannst du die
          frischen Produkte nach Lust und Laune zubereiten bzw. weiterverarbeiten
          und so mit gutem Gewissen frische, regionale und saisonale blablabla
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        </p>
      </div>
    </div>
  </div>
  <h6 class="steps__about padding-v-s">
    “Der übergeordnete Zweck des Vereins Speisekammer Konstanz e.V
    ist die Förderung eines Lebensmittelsystems zum Wohle des
    Lebens von Menschen, Tieren und Pflanzen.”
  </h6>
  <p class="steps__statute padding-v-s">
    Neugierig? Die gesamte Vereinsatzung gibt es als PDF <a href="vereinsatzung.pdf">hier</a> zum Download.
  </p>
</div>