<div
  class="steps"
>
  <div class="steps__background" ></div>
  <div class="steps__slider">
    <div class="slide">
      <div class="background background-1 background-a"></div>
      <div class="background background-1 background-b"></div>
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header slide__header-1"
        >
          Vom Feld
          <br />auf den Teller
          <br />in 3...
        </h3>
        <p class="slide__text text-center">
          Die hauptsächlich regionalen Produzent*innen erzeugen ihre
          Produkte in biologischem Anbau. Gemüse und Obst wächst und
          gedeiht dabei je nach Saison auf Feldern im Raum Konstanz.
          Bei Gelegenheit ist ein direkter Austausch und eventuell
          ein Besuch bei den Landwirt*innen möglich.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="background background-2 background-a"></div>
      <div class="background background-2 background-b"></div>
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header"
        >
          Vom Feld
          <br />auf den Teller
          <br />in 2...
        </h3>
        <p class="slide__text text-center">
          Nach der Ernte wird das Gemüse liebevoll weiterverarbeitet bzw.
          für die Auslieferung vorbereitet. Dabei ist kein Produkt zu
          gross, zu klein oder nicht makellos genug — denn wir nehmen
          auch die “krummen Dinger”. Die FoodCoop leitet ihre wöchentliche
          Bestellung, die über die Software “Foodsoft” organisiert wird,
          an die Produzent*innen weiter, die die Bestellung fertig zur
          Auslieferung machen und schließlich in der Speisekammer anliefern.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="background background-3 background-a"></div>
      <div class="background background-3 background-b"></div>
      <div class="slide__content padding-v-m">
        <h3
          class="bold text-center slide__header slide__header-3"
        >
          Vom Feld
          <br />auf den Teller
          <br />in 1...
        </h3>
        <p class="slide__text text-center">
          Nach der Anlieferung kannst du deine vorbestellten Lebensmittel
          flexibel und selbständig in der Speisekammer abholen. Die
          Lebensmittel sind unverpackt — also passende Gefäße und Taschen
          nicht vergessen! Nun kannst du auch den gesunden, fairen und
          regionalen Lebensmittel zu leckeren Gerichten verkochen. N’ Guten!
        </p>
      </div>
    </div>
  </div>

  <div class="steps__info-container">
    <div class="steps__slider-2 steps__about ">
      <div class="steps__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Der übergeordnete Zweck des Vereins Speisekammer Konstanz
            e.V ist die Förderung eines Lebensmittelsystems zum Wohle
            des Lebens von Menschen, Tieren und Pflanzen.”
          </h6>
        </div>
      </div>
      <div class="steps__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Für diesen übergeordneten Zweck stellen die Mitglieder des
            Vereins eine Einkaufsgemeinschaft dar,welche direkt
            vermarktete Erzeugnisse von den kooperierenden
            Lebensmittelproduzent*innen beziehen.”
          </h6>
        </div>
      </div>
      <div class="steps__slider-2__content">
        <div>
          <h6
            class="bold text-center padding-v-s"
          >
            “Eine Förderung zum Wohle des Lebens wird im Sinne der
            Nachhaltigkeit unter Berücksichtigung aller Aspekte der
            nachhaltigen Entwicklung — sozial, ökologisch &amp; ökonomisch
            — verstanden. Die Prinzipien der Nachhaltigkeit gelten als
            Grundlage für alle Entscheidungen und Tätigkeiten des Vereins.”
          </h6>
        </div>
      </div>
    </div>
    <p class="steps__statute padding-v-s text-center">
      Neugierig? Die gesamte Vereinsatzung gibt es als PDF <a href="Satzung.pdf">hier</a> zum Download.
    </p>
  </div>
</div>