<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Speisekammer Konstanz</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Die FoodCoop “Speisekammer” Konstanz e.V. ist ein Verein, der als Einkaufsgemeinschaft,
    die die Förderung eines Lebensmittelsystems zum Wohle des Lebens von Menschen,
    Tieren und Pflanzen verfolgt. Ziel ist es regionalen Klein- und Kleinstproduzent*innen
    Absatzmöglichkeiten zu ermöglichen und eine soziale Kooperation zwischen
    Produzent*innen und Verbraucher*innen anzubieten. Der Aufbau von
    Kooperationen und der Bezug von Lebensmitteln steht immer unter
    den Prinzipien der Nachhaltigkeit. So fördert die FoodCoop
    Speisekammer e.V. kleinteilige landwirtschaftliche Strukturen im Gegensatz
    zu der vorherrschenden agrarindustriellen Konzentration auf Großbetriebe.
    Sie fördert den Vertrieb und Konsum regionaler und saisonaler Erzeugnisse
    sowie gering verarbeiteter und frischer Lebensmittel. Wir setzen uns für eine
    allgemeine Herabsetzung von Pestiziden in der Landwirtschaft auf ein Minimum
    ein und bevorzugen pflanzliche Lebensmittel. Flexibel und Individuell wie auf dem Wochenmarkt."
    >
    <meta name="keywords" content="Nachhaltig, Gemüse, Obst, Umweltfreundlich,
    Verpackungsfrei, Speisekammer, FoodCoop, Lebensmittel, Verein,
    Regional, Ökologisch, Bio, Biologisch, Fair, Konstanz, gesund, frisch,
    Ernährung, Markt, Bauer, Landwirtschaft, Solidarisch, Einkaufen, Bestellen">
  </head>
  <body>
    {{> sidebar}}
    {{> landing}}
    {{> steps}}
    {{> participate}}
    {{> producers}}
    {{> footer}}
  </body>
</html>