<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Speisekammer Konstanz</title>
  </head>
  <body>
    {{> producers}}
    {{> participate}}
    {{> footer}}
   <script src="main.js"></script>
  </body>
</html>